# /
*.bak
*.d
*.o
*.orig
*.rej
*.sav
*.swp
*.tmp
*~
.DS_Store
.ccmalloc
.svn
/.git
cscope.out
/src/y.tab.c
/bin
/build
/lib
/benchmark/*.c
/mrbgems/mruby-bin-hpcmrb/testcases/*.c
/mrbgems/mruby-bin-hpcmrb/tools/hpcmrb/lib/
